@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: crimson;
}

#logo_link {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo {
    width:75px;
}

nav a {
    justify-items: center;
    color: white;
    text-decoration: none;
    padding: 40px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: goldenrod;
    color: white;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-img {
    width: 100%;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    color: goldenrod;
    font-size: 2em;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.badge {
    width: 500px;
    margin-top: -40px;
}

.arsenal {
    display: flex;
    justify-content: center;
}

.arsenal, .text1, .text2, .field {
    margin-top: 350px;
}

.field {
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.text1 {
    margin-right: 50px;
    margin-left: 50px;
}

.text2 {
    margin-left: 120px;
}

footer {
    background-color:crimson;
    color:rgb(55, 44, 44);
    padding: 25px 50px;
    margin-top: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text1 h2, .text2 h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-align: center;
    color: rgb(3, 3, 93);
}

.text1 p, .text2 p {
    font-family: 'Alegreya', serif;
    font-size: 1.75em;
    color: rgb(86, 84, 80);
}

.football-field {
    width: 500px;
    margin-top: -10px;
}

.eg {
    grid-column: 2/3;
    text-align: center;
}

.eg h2 {
    font-size: 0.8em;
    margin-left: 85px;
    font-family: "Roboto", serif;
    margin-top: -1px;
    font-style: italic;
}

footer p {
    color: goldenrod;
    font-size: 1.25em;
}


/*page 2*/
#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.page2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nickname img {
    width: 700px;
    height: auto;
}

.nickname {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

.jersey img {
    width: 400px;
    height: 500px;
    margin-left: 30px;
    margin-top: 115px;
}

.jersey {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

#stadium {
    grid-column: 1 / 3;
}

#stadium img {
    width: 100%;
}

.text1-page2 {
    text-align: center;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 150px;
}

.text2-page2 {
    text-align: center;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 150px;
}

.text3-page2 {
    grid-column: 1 / 3;
    text-align: center;
    margin-top: 25px;
}

.h1-page2 {
    font-size: 2.5em;
    color: goldenrod;
    margin-left: 30px;
}

.text1-page2 h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    color: rgb(3, 3, 93);
}

.text2-page2 h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    color: crimson;
}

.text1-page2 p {
    font-size: 1.45em;
    font-family: "Alegreya", sans-serif;
    color: rgb(3, 3, 93);
}

.text2-page2 p {
    font-family: "Alegreya", sans-serif;
    font-size: 1.2em;
    color: crimson;
}

.text3-page2 h2 {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    color: crimson;
}

.text3-page2 p {
    font-family: "Alegreya", sans-serif;
    font-size: 1.3em;
    color: rgb(3, 3, 93);
    margin-left: 40px;
    margin-right: 40px;
}